/node_modules
/public/hot
/public/storage
/public/archivos
/public/documentos
/public/img
/public/tareas
/public/var
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
nohup.out
/log
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
